@tailwind base;

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 10s linear infinite;
}

.spin path {
  color: red;
  fill: aliceblue;
} */

.slide-in-left {
  animation: slide-in 0.7s forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(300%);
  }
  to {
    opacity: 100;
    transform: translateX(0%);
  }
}

.slide-in-right {
  animation: slide-out 1s forwards;
  /* animation-delay: 400ms; */
}

@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateX(-300%);
  }
  to {
    opacity: 100;
    transform: translateX(0%);
  }
}

@tailwind components;
@tailwind utilities;
